body{
  margin: 0;
  font-family:Arial

}
.fir{
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}
.img1{
  display: block;
  margin: 30px auto;
  width:28%;
  height:28%;
  box-shadow: 0 5px 20px #A3A3A3;
}
.imgg{
  display: block;
  width: 100%;
  margin: 0 auto;
}
a.rose {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 20px 40px;
  margin: 5px 10px;
  border-radius: 160px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #FF0000 5%, #FFCFF0 50%, #FF0777 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
a:hover {
  background-position: right center;
}

.but{
  width:65px;
  height:65px;
  margin: 0 10px 0px 10px
}
.d1{
  line-height: 1.7;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bolder;
  margin-left: 30px;
}
.butt{
  margin-left: 20px;
}
.text{
  font-size: 30px; font-style: oblique; margin-left: 54px;
}
.img2{
  display: block;
  margin: 10px auto;
  width: 100%;

}